# ==========================================
# Frontend Deployment
# ==========================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      namespace: ecart
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: e-cart-app-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80 # Nginx listens on 80
